table, tr, td {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
}

.example-print {
    display: none;
}

@media print {
  #printPageButton {
    display: none;
  }
    .example-print {
       display: block;
    }
}